*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #e2e0e0;
}

/*                                          Hero Image CSS                          */
.advertise{
    display: inline-block;
    width: 360px;
    color: white;
    padding: 25px;
    justify-content: center;
}
.p1{
    font-style: italic;
    font-size: 3vw;
    font-weight: bolder;
}
.p2{
    /* font-family: monospace; */
    font-size: 2vw;
    font-weight: normal;
    font-style: italic;
}
.background{
    background-image: url(/images/property_background.jpg);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 0 0;
}
/* .searchbar{
    height: 30vh;
    width: 100%;
    text-align: center;
} */

/* Log in button */
.login-button{
    margin: 12px;
    padding: 5px 10px;
    float: right;
    border: .5mm groove #d3d1d1;
    border-radius: 15px;
    background-color: #286cca;
    color: #d3d1d1;
}
.login-button:hover{
    background-color: #d3d1d1;
    color: #286cca;
    cursor: pointer;
}

/*                                         Navigation Bar CSS                     */

.navbar2{
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
}
.navbar ul,.navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 126, 243);
    width: 100%;

}
.navbar ul li,.navbar2 ul li {
    float: right;
    /* border-right: 1px solid #bbb; */
}
.navbar ul li a,.navbar2 ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar ul li a:hover ,.navbar2 ul li a:hover{
    background-color: rgb(13, 91, 155);
}
.active {
    background-color: #286cca;
}
.navbar ul{
    background-color: black;
    border-radius: 15px;
    width: 35%;
}
.space1{
    margin-bottom: 25px;
}

/*                                  Header and Footer                       */

footer{
    text-align: center;
}

header{
    text-align: left;
    font-family: monospace;
    color: white;
    font-size: 3vw;
    padding: 5px 10px;
}

/*                                         Scroll Bar                   */

/* ::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: #286cca;
}

::-webkit-scrollbar-thumb{
    background-color: aqua;
    border-radius: .5rem;
} */





/*                                        Search Bar                     */

/* input[placeholder="Search"]{
    background-image: url(https://cdn-icons-png.flaticon.com/512/122/122932.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: right;
    color: aliceblue;
    width: 30%;
    /* background-position-y: ; */
    /* display: inline-block;
    height: 7vh; */
    /* width: 15vw; */
    /* transition: width 1s;
    padding: 14px 16px;
    margin: 35px 10px; */
/*}
input[type="search"]:focus{
    width: 65%;
    color: black;
    background-color: blanchedalmond;
    transition-timing-function: ease-in-out;
} */

/*                                          Property Tiles                       */

.property, .property1{
    /* display: grid; */
    width: 320px;
    height: 280px;
    background-color: #e2e0e0 ;
    color: #286cca;
    border: .5mm outset #286cca;
    border-radius: 15px;
    justify-content: center;
    margin: 25px;
}

.property{
    height: 360px;
}

.property img,.property1 img{
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.prop1{
    grid-area: prop1;
}
.prop2{
    grid-area: prop2;
}
.prop3{
    grid-area: prop3;
}
.prop4{
    grid-area: prop4;
}
.prop5{
    grid-area: prop5;
}
.prop6{
    grid-area: prop6;
}
.prop7{
    grid-area: prop7;
}
.prop8{
    grid-area: prop8;
}
.prop9{
    grid-area: prop9;
}

.buyer{
    display: grid;
    grid-template-areas: 'prop1 prop2 prop3'
    'prop4 prop5 prop6'
    'prop7 prop8 prop9';
}

.renter{
    display: grid;
    grid-template-areas: 'prop1 prop2 prop3'
    'prop4 prop5 prop6'
    'prop7 prop8 prop9';
}

.seller{
    display: grid;
    grid-template-areas: 'prop1 prop2 prop3'
    'prop4 prop5 prop6'
    'prop7 prop8 prop9';
}

.property:hover{
    box-shadow: 6px 6px 2px 1px rgba(0, 128, 255, 0.2);
    cursor: pointer;
    background-color: #d3d1d1;
}

/*                                                 Ttile Section                                    */

.title{
    background-color: #fcfafa;
    color: #286cca;
    border-radius: 0 0 15px 15px;
    margin: 10px 0 65px 0;
    text-align: center;
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 50px;
}
.option-bar{
    display: grid;
    grid-template-areas: 'prop1 prop2 prop3';
}
.txt{
    text-align: center;
    margin: 15px;
    padding: 10px;
}

/*                                                  Buy Section                             */

.buyer, .seller, .renter, .option-bar{
    background-color: #d3d1d1;
    border-radius: 15px;
    margin-top: 25px;
}


